<main class="main single-page">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> About us
            </div>
        </div>
    </div>
    <section class="section-padding">
        <div class="container pt-25">
            <div class="row">
                <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">ABOUT US</h6>
                    <p class="font-heading mb-40">
                        Shoes are always the most important thing for me because they are who you are. They change the way you walk, the way you move.

– Tom Ford
                    </p>
                    <p>Senora is a brand of modern Footwear and Handbags offering the latest trends with utmost comfort.
                        We have a varied collection that is stylish, comfortable and a trend setting for all the women. Carefully and specially created Senora’s range adds a sparkle and style to every wardrobe. Attention to details says more about our collections than we ever could.</p>
                    <p>WHAT MAKES US DIFFERENT – an inclusive, creative vision powered by kindness. No matter where you are in the world, we want to embolden our customers to be true to themselves and confident.

                        This is who we are, what we stand for and the things that unite us... </p>
                </div>
                <div class="col-lg-6">
                    <img src="assets/imgs/page/about-1.png" alt="">
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </section>
</main>
